
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Transient Service</h3>
@ViewBag.message1
<br />
@ViewBag.message2

<h3>Scoped Service</h3>
@ViewBag.message3
</br>
@ViewBag.message4

<h3>Singleton Service</h3>
@ViewBag.message6
</br>
@ViewBag.message7


